<% if @subscription.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Your subscription failed because of the following <%= "error".pluralize(@subscription.errors.count) %>:
      <ul>
        <% @subscription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<% if @subscription.new_record? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Subscribe
      </h3>
    </div>
    <div class="panel-body">
      <%= simple_form_for @subscription, html: { class: "stripe-form" } do |f| %>
        <%= f.association :plan unless @subscription.subscriber.flyover_subscription_plan.present? %>
        <%= render 'subscription_fields', f: f %>
        <%= f.submit "Subscribe", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Billing Overview
      </h3>
    </div>
    <table class="table">
      <tbody>
        <% if @subscription.will_cancel? %>
          <tr class="danger">
            <td class='text-muted'>Subscription ending</td>
            <td>Your subscription will end on <%= @subscription.archived_at.strftime("%m/%d/%Y") %>. Click to resubscribe:</td>
            <td>
              <%= simple_form_for @subscription do |f| %>
                <%= f.input_field :id, as: :hidden %>
                <%= f.submit "Resubscribe", class: "btn btn-xs btn-primary pull-right" %>
              <% end %>
            </td>
          </tr>
        <% elsif @subscription.archived? %>
          <tr class="danger">
            <td class='text-muted'>Subscription canceled</td>
            <td>Your subscription is not active. Click to resubscribe:</td>
            <td>
              <%= simple_form_for @subscription do |f| %>
                <%= f.input_field :id, as: :hidden %>
                <%= f.submit "Resubscribe", class: "btn btn-xs btn-primary pull-right" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% unless @subscription.subscriber.flyover_subscription_plan.present? %>
          <tr>
            <%= simple_form_for @subscription do |f| %>
              <td class='text-muted'>Plan</td>
              <td><%= f.association :plan, label: false, include_blank: false %></td>
              <td><%= f.submit "Update Plan", class: "btn btn-default btn-xs pull-right" %></td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td class='text-muted'>Payment</td>
          <td>
            <p>Using card **** **** **** <%= @subscription.last_four %></p>
            <% if @upcoming_invoices %>
              <p>Next payment due: <%= date_from_stripe_timestamp(@upcoming_invoices.next_payment_attempt) %></p>
              <p>Amount: <%= number_to_currency @upcoming_invoices.total / 100 %></p> 
            <% end %>
          </td>
          <td>
            <%= link_to icon("credit-card", "Update Card"), "#update-card", class: "btn btn-xs btn-default pull-right", data: { toggle: "collapse" } %>
          </td>
        </tr>
        <tr>
          <td colspan='3' style="padding: 0; border: none;">
            <div id="update-card" class="collapse">
              <div style='padding: 10px;'>
                <%= form_for @subscription, html: { class: "stripe-form" } do |f| %>
                  <%= render 'subscription_fields', f: f %>
                  <%= f.submit "Update Card", class: "btn btn-primary pull-right" %>
                  <div class="clearfix"></div>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <% unless @subscription.archived? || @subscription.will_cancel? %>
          <tr>
            <td class='text-muted'>Cancel</td>
            <td>
              Unhappy? Click to cancel your subscription
            </td>
            <td>
              <%= link_to "Cancel Subscription", @subscription, method: :delete, class: "btn btn-xs btn-danger pull-right", data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Payment History
      </h3>
    </div>
    <% if @charges && @charges.data.length > 0 %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Amount</th>
            <th>Card</th>
          </tr>
        </thead>
        <tbody>
          <% @charges.each do |charge| %>
            <tr>
              <td>
                <% if ["succeeded", "paid"].include?(charge.status) %>
                  <i class="fa fa-check text-success"></i>
                <% else %>
                  <i class="fa fa-exclamation-triangle text-danger"></i>
                <% end %>
              </td>
              <td><%= date_from_stripe_timestamp(charge.created) %></td>
              <td><%= number_to_currency charge.amount / 100 %></td>
              <td><%= charge.source.brand %> **** **** **** <%= charge.source.last4 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="panel-body">
        You have not made any payments yet.
      </div>
    <% end %>
  </div>
<% end %>